.Main_Header {
  height: auto;
  background-color: #00a3ff;
  padding: 0.9rem 0;
}
.Main_Header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  font-size: 2.3rem;
  font-weight: bold;
  gap: 3px;
}

.Search_Bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  background-color: white;
  border-radius: 5px;
  width: 25rem;
}

@media only screen and (max-width: 1280px) {
}
@media only screen and (max-width: 1024px) {
  .Search_Bar {
    width: 22rem;
  }
}
@media only screen and (max-width: 768px) {
  .Search_Bar {
    width: 20rem;
  }
}

@media only screen and (max-width: 600px) {
  .Main_Header .container {
    flex-direction: column;
    justify-content: center;
  }

  .Logo_Container {
    font-size: 1.5rem;
  }

  .Search_Bar {
    height: 2.2rem;
    margin: 0.5rem 0;
    width: 19rem;
  }
}
@media only screen and (max-width: 425px) {
  .Search_Bar {
    width: 17rem;
  }
}
